<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projects</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/default.css"/>
    <link rel="icon" type="image/png" href="/siteicon.png">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mt-5 mb-1"><%= title %></h1>
            <div class="mb-4 text-secondary border-bottom"><%= description %></div>
            <div><%- content %></div>
        </div>
    </div>
</div>


</body>
</html>


