<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projects</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/default.css"/>
    <link rel="icon" type="image/png" href="/siteicon.png">
</head>
<body>

<div class="container">
    <div class="row mt-3">
        <a href="/"><img  alt="" src="/siteicon.png" width="50"></a>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mt-5 mb-1"><%= title %></h1>
            <div class="mb-4 text-secondary border-bottom"><%= description %></div>
            <div><%- content %></div>
        </div>
    </div>
    <div class="row mt-3">
        <a href="https://niekdeschipper.com/rss/rss.xml" target="_blank">
            <img src="/icons/rss.svg" alt="Blog Icon" style="width:16px; height:16px; vertical-align: middle; margin-right: 5px;">
        </a>
    </div>
</div>
<div class="col-xs-12" style="height:100px;"></div>

</body>
</html>


