<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Niek de Schipper</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="icon" type="image/png" href="/siteicon.png">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mt-5 mb-3 border-bottom">About</h1>
        </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
          <img width="250px" src="icon2.png" align="left">
      </div>
      <div class="col-md-4">
          <p> 
                        Welcome to my homepage. I like to write about data science and computer stuff. Feel free to check out my <a href="#blog">blog posts</a>, or send me an <a href="mailto: ncdeschipper@gmail.com">email</a>.</p>
      </div>
      <div class="col-md-4">
            <ul>
              <li><a href="https://github.com/trbKnl/" target="_blank">Github</a></li>
              <li><a href="https://scholar.google.com/citations?user=PEuawIgAAAAJ&hl=en" target="_blank">Scholar</a></li>
              <li><a href="https://www.linkedin.com/in/niek-de-schipper/" target="_blank">Linkedin</a></li>
              <li><a href="https://niekdeschipper.com/rss/rss.xml" target="_blank">RSS Feed</a> <img src="/icons/rss.svg" alt="Blog Icon" style="width:16px; height:16px; vertical-align: middle; margin-right: 5px;"></li>
            </ul>
      </div>


    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mt-5 mb-3 border-bottom" id="blog">Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <% for (var key in metadata) { %>
                <div class="card">
                    <div class="card-body">
                        <a href="<%= '/projects/'.concat(key) %>"><h5 class="card-title"><%= metadata[key].title %></h5></a>
                        <h6 class="card-subtitle mb-2 text-muted"><%= metadata[key].date %></h6>
                        <p class="card-text"><%= metadata[key].description %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>


</div>
</body>
</html>


